.post-title {
  font-family: monospace;
  background-color: black;
  color:cornflowerblue;
  display:block;
}
.featured-projects{
  margin-left:10px;
}
.body-content{
  font-family:sans-serif;
  margin-left:10%;
  margin-right:10%;
  background-color:black;
  color:white;
  display:block;
  font-size:1.3em;
}
.grad-bg {
  background-color:black;
  background-image: linear-gradient(black, darkslategray);
}
