p {
  font-family:sans-serif;
}
.blog-title {
  left-margin:0.5em;
  display:inline;
}
.nav-featured {
  display: inline;
}
.textgen-package-name {
  font-style: italic;
}

.navbar-brand a:link { 
  text-decoration: none;
}
.navbar-brand a:visited { 
  text-decoration: none; 
}
.navbar-brand a:hover {
  text-decoration: none; 
}
.navbar-brand a:active {
  text-decoration: none; 
}
.nav-featured {
  color:DarkGray;
}
